@import "tailwindcss";

body{
    background: #0f0f10;
    color: #fff;
}
input,
textarea{
    color: #868282;
}
select option{
    color: black;
}


  .register-container {
    background: url('https://images.unsplash.com/photo-1489599849927-2ee91cede3ba?q=80&w=2070&auto=format&fit=crop') no-repeat center center / cover;
    min-height: 90vh; 
    display: flex;
    
  }
  .login-container  {
    background: url('https://images.justwatch.com/backdrop/323453451/s640/the-power-of-film') no-repeat center center / cover;
    min-height: 90vh; 
    display: flex;
    
  }
 

  /* .login-container {
    background: url('https://www.google.com/url?sa=i&url=https%3A%2F%2Fstock.adobe.com%2Fsearch%3Fk%3Dfilm%2Bbackground&psig=AOvVaw3l1iPXqSrvW_Me7j6psRZn&ust=1743501065748000&source=images&cd=vfe&opi=89978449&ved=0CBQQjRxqFwoTCKDT5emFtIwDFQAAAAAdAAAAABAE') no-repeat center center / cover;
    min-height: 90vh; 
    display: flex;
  } */